#auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#signin-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

#signin-form h2 {
  margin-bottom: 0.5rem;
  text-align: center;
}

#signin-form #username-wrapper {
  display: flex;
  flex-direction: column;
}

#signin-form input {
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#signin-form label {
    text-align: left;
}

#password-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#password-wrapper label {
  margin: 0;
}

#forgot-link {
  font-size: 0.85rem;
  color: #007bff;
  text-decoration: none;
}

#forgot-link:hover {
  text-decoration: underline;
}

#signin-form button[type="submit"] {
  width: 300px;
  height: 38px;
  background-color: #4caf50;
  color: white;
  padding: 0.6rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#signin-form button[type="submit"]:hover {
  background-color: #45a049;
}

#switch-auth {
  text-align: center;
  font-size: 0.9rem;
}

#switch-to-signup {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 0.9rem;
  text-decoration: underline;
}

#switch-to-signup {
  text-decoration: none;
}